<div class="content">

  <h1>Frequently Asked Questions</h1>
  <% 6.times do |num| %>
    <h2>Question <%= num+1 %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur debitis illum, fugiat consequatur laboriosam culpa molestiae nisi nam aspernatur dicta. Voluptates soluta cum quia ullam delectus vero? Sed, labore.</p>
  <% end %>
</div>