$white: #ffffff;
$black: #000000;
$gray: #e2e2e2;
$ltblue: #049CD4;
$green: #04D49A;
$brightgreen: #04F66F;

$opacity: 20%;

footer {
  ul {
    li {
      list-style-type: none;
      display: inline;
      a {
        color: #c3c3c3;
        &:hover {
          color: $green;
        }
      }
    }
  }
}