

@mixin full-width { //overrides site width for full bleed
    width: 111.5%;
    margin: 0 -5.75% 0 -5.75%;
    @include box-sizing(border-box);
}

body, html {
  // min-height: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  // background-color: $ltblue;

  .container {
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 0px;
    margin: 0 auto;
    width: 90%;
    }
    .content {
      overflow: auto;
      overflow-x: hidden;
      padding-bottom: 40px;
      background-color: #c2c2c2;
    }
  footer {
    background-color: $ltblue;
    height: 40px;
  }
}

// SHOW CONTENT
div.show-content {
  @include clear-float;
    background-color: $gray;
  img {
    float: left;
    margin-right: 20px;
  }
  .count-content {
    float: left;
    width: 50%;
  }
}

button {
    color: $black;
    background-color: $gray;
    border: none;
    @include border-radius (4px);
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: darken($gray, 40%);
    a {
      color: white;
    }
    }
}

  .count-section {
    // background-color: $gray;
  }