// Place all the styles related to the Counts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 4em;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

th {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}